<footer class="site-footer">
  <div class="container">
    <div class="row">
      <img src="../../../assets/logo/avatar-alternativo-azul.png" style="height: 250px; width: 250px;" alt="">

      <div class="col-md-3 col-sm-6">
        <h6>Chalés</h6>
        <ul class="footer-links">
          <li routerLink="/details-chale">Chalé Fuji</li>
          <li routerLink="#">Chalé Toronto</li>
          <li routerLink="/aboutUs">Outras hospedagens</li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h6>Fale Conosco</h6>
        <ul class="footer-links">
          <li><img src="../../../assets/pin-distance-fill.svg" style="margin-right: 10px;" alt="">Rodovia Vereador Júlio
            da Silva, Santo Antônio do Pinhal / CEP:
            12450-000, SP</li>
          <li><img src="../../../assets/mail-fill.svg" style="margin-right: 10px;" alt="">E-mail:
            chalesmundarium@gmail.com </li>
          <li><img src="../../../assets/phone-fill.svg" style="margin-right: 10px;" alt="">Phone: +55 (11) 96389-7345
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="#" style="color: #fff;">Chalés Mundarium</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6">
        <ul class="social-icons">
          <li><a class="booking" href="https://www.booking.com/hotel/br/chales-mundarium.pt-br.html"><img
                src="../../../assets/bookingcom-1 3.svg" /></a></li>
          <li><a class="airbnb" href="#"><img src="../../../assets/providers-list.svg" /></a></li>
          <li><a class="instagram"
              href="https://www.instagram.com/chalesmundarium?igsh=ZjBpdXA1Z2xlMmdz&utm_source=qr"><img
                src="../../../assets/Instagram.svg" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
