<!-- <source src="../../../assets/chale_fuji.png" type="video/mp4" /> -->
<header [ngClass]="{'scroll': isScrolled}">
  <a href="#" *ngIf="isScrolled"><img src="../../../assets/logo/avatar-alternativo-azul.png" alt="logo"
      class="logo" /></a>

  <input type="checkbox" id="check" />
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x" id="close-icon"></i>
  </label>

  <nav class="navbar">
    <a href="#" class="nav-item" style="--i: 0">Home</a>
    <a routerLink="/aboutUs" class="nav-item" style="--i: 1">Sobre nós</a>
    <!-- <a routerLink="/details-chale" class="nav-item" style="--i: 2">Contato</a> -->
    <a routerLink="/details-chale" class="nav-item" style="--i: 3">Chalés</a>
    <a href="https://wa.me/5511963897345?text=Olá,%20Eu%20gostaria%20de%20fazer%20uma%20reserva!" class="nav-item"
      style="--i: 3"><img src="../../../assets/whatsApp-branco.svg" alt=""></a>
    <a href="https://www.instagram.com/chalesmundarium?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      class="nav-item" style="--i: 3"><img src="../../../assets/insta-branco.svg" alt=""></a>
  </nav>
</header>