.header {
  position: relative;
  text-align: center;
  background-image: url("../../../assets/chale-canadense.jfif");
  color: white;
  object-fit: cover;
  background-size: cover;
  background-position: center;

  position: relative;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

#masunery-gallery {
  width: 100%;
  display: block;
  padding: 60px 0;
}

.galeria-fotos-title-section-area54 {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 0 50px 0;
}

.gallery-img1 {
  width: 100%;
  display: block;
  margin: 0 0 15px 0;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.gallery-img1 img {
  width: 100%;
  display: block;
  transition: 0.5s;
  height: 200px;
}

.gallery-img1:hover img {
  transition: 0.5s;
  transform: scale(1.5);
}
.list-check {
  display: flex;
  flex-wrap: wrap; /* Permite que as colunas sejam empilhadas em telas menores */
}

.column {
  margin-left: 50px;
  flex: 1;
  margin-right: 20px; /* Espaçamento entre as colunas */
  margin-bottom: 20px; /* Espaçamento entre as linhas */
}

.list-check ul {
  padding-left: 0;
}

.list-check ul li {
  list-style: none;
  margin-bottom: 10px;
}

.list-check ul li i {
  margin-right: 10px;
}

.list-check ul li i:before {
  font-size: 20px;
}

.list-check ul li i.bx:before {
  font-weight: bold;
}

.list-check ul li i.bx-bxs-buildings:before {
  content: "\f69c"; /* código unicode para o ícone */
}

.list-check ul li i.bx-bx-wind:before {
  content: "\f50a"; /* código unicode para o ícone */
}

@media only screen and (max-width: 768px) {
  .column {
    flex-basis: 100%;
    margin-right: 0;
  }
}

button {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  grid-gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button.btn-outline-light {
  color: var(--light-01);
  background: none;
  color: var(--light-01);
  border: 1px solid var(--light-01);
}

button.btn-outline-dark {
  color: var(--text-01);
  background: none;
  color: var(--text-01);
  border: 1px solid var(--text-01);
}

button.btn-filled-dark {
  color: var(--light-01);
  background: var(--text-01);
  color: var(--light-01);
  border: 2px solid var(--text-01);
}

.btn-outline-dark:hover {
  background: var(--text-01);
  border: 2px solid var(--text-01);
}

.btn-outline-light:hover {
  background: var(--light-01);
  border: 2px solid var(--light-01);
  color: var(--text-01);
}

a {
  text-decoration: none;
}
.no-underline {
  text-decoration: none;
}
button:hover,
.btn-outline-dark.btn-hover-color:hover {
  color: var(--light-01);
  border: 2px solid var(--brand-01);
  background: var(--brand-01);
  transition: var(--hover-timing);
  box-shadow: var(--card-hover);
}

section.hero {
  background: none;
  /*    width: 100%;*/
  height: auto;
  /* background: var(--brand-02) url('https://ouch-cdn2.icons8.com/hxxz5Qr551KY1597yq-mz9zWRTkAT-cob5eZ8UreBBo/rs:fit:368:338/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzcy/L2UxYjU4YWUwLTc3/YjQtNGQ1OC05NjJl/LWUzODQ1Y2IyYzBi/Ny5wbmc.png') no-repeat center right; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 48px;
  display: inline-flex;
}

.btn-group {
  display: flex;
  flex-direction: row;
  grid-gap: 16px;
}

section.hero h1 {
  font-size: var(--hero-text);
  font-weight: 600;
  line-height: 1.2;
  width: 40%;

  color: var(--text-01);
}

section:not(.hero) {
  padding: calc(var(--pg-margin) / 2) var(--pg-margin);
}

section h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: var(--text-01);
  margin-bottom: 32px;
  /*    padding-bottom: 24px;*/
}

.btn-group {
  display: flex;
  flex-direction: row;
  grid-gap: 16px;
}
