<!-- <div class="container-chale">

  <div class="card-img-container">
    <div class="carousel">
      <div class="slides">
        <img *ngFor="let image of images; let i = index" src="../../../assets/capa_carousel/1_fuji.jpeg"
          [class.active]="showSlide(0)" alt="Imagem de uma pulverizadora de cor laranja em um campo verde">
        <img *ngFor="let image of images; let i = index" src="../../../assets/capa_carousel/1_mezanino.jpeg"
          [class.active]="showSlide(1)" alt="Imagem de uma pulverizadora de cor laranja em um campo verde">
        <img src="../../../assets/capa_carousel/2_mezanino.jpeg" *ngIf="showSlide(2)"
          alt="Imagem de uma pulverizadora de cor laranja em um campo verde">
      </div>
      <div class="indicators">
        <span class="indicator" [class.active]="showSlide(0)" (click)="goToSlide(0)"></span>
        <span class="indicator" [class.active]="showSlide(1)" (click)="goToSlide(1)"></span>
        <span class="indicator" [class.active]="showSlide(2)" (click)="goToSlide(2)"></span>
      </div>
    </div>
    <div class="gradiente"></div>

  </div>
  <div class="text-overlay">
    <div class="text__container">{{ slideTexts[currentSlide] }}</div>
    <a href="https://api.whatsapp.com/send?phone=SEUNUMERO" target="_blank" class="button">Faça sua reserva agora</a>
  </div>
</div> -->

<body>
  <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
    <swiper-slide><img src="../../../assets/carousel_exp/_MG_6278.jpg" alt=""></swiper-slide>
    <swiper-slide><img src="../../../assets/carousel_exp/_MG_6278.jpg" alt=""></swiper-slide>
    <swiper-slide><img src="../../../assets/carousel_exp/_MG_6278.jpg" alt=""></swiper-slide>
    <swiper-slide><img src="../../../assets/carousel_exp/_MG_6278.jpg" alt=""></swiper-slide>
    <swiper-slide><img src="../../../assets/carousel_exp/_MG_6278.jpg" alt=""></swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</body>
