<div class="container-chale">

  <div class="card-img-container">
    <!-- <img src="../../../assets/logo/logo-capa.png" alt="" class="card-img"> -->
    <div class="carousel">
      <div class="slides">
        <img *ngFor="let image of images; let i = index" src="../../../assets/capa_carousel/1_fuji.jpeg"
          [class.active]="showSlide(0)" alt="Imagem de uma pulverizadora de cor laranja em um campo verde">
        <img *ngFor="let image of images; let i = index" src="../../../assets/capa_carousel/1_mezanino.jpeg"
          [class.active]="showSlide(1)" alt="Imagem de uma pulverizadora de cor laranja em um campo verde">
        <img src="../../../assets/capa_carousel/2_mezanino.jpeg" *ngIf="showSlide(2)"
          alt="Imagem de uma pulverizadora de cor laranja em um campo verde">
      </div>
      <div class="indicators">
        <span class="indicator" [class.active]="showSlide(0)" (click)="goToSlide(0)"></span>
        <span class="indicator" [class.active]="showSlide(1)" (click)="goToSlide(1)"></span>
        <span class="indicator" [class.active]="showSlide(2)" (click)="goToSlide(2)"></span>
      </div>
    </div>
    <div class="gradiente"></div>

  </div>
  <div class="text-overlay">
    <div class="text__container">{{ slideTexts[currentSlide] }}</div>
    <!-- <p class="text__container">"Viva uma experiência <br> única em um lugar incrível <br> perto da natureza"</p> -->
    <a href="https://api.whatsapp.com/send?phone=SEUNUMERO" target="_blank" class="button">Faça sua reserva agora</a>
  </div>
</div>