<body>
  <h1 style="font-family: var(--font-family-roboto); margin: 20px;
  text-align: center;
  font-size: 3rem;">Nosso café</h1>
  <P style=" font-size: 1.5rem;
  font-family: var(--font-family-poppins);
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;">Além do café, oferecemos uma variedade de acompanhamentos deliciosos, <br>
    desde doces frescos até salgados feitos na hora. Cada item do nosso cardápio é escolhido <br>
    para complementar perfeitamente a experiência do café, criando uma harmonia de sabores e <br>
    sensações que agrada aos paladares mais exigentes.
  </P>
  <section id="content">
    <!-- Cards -->
    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6323.jpg" />
      <div class="title">
        <h2>Ar livre</h2>
      </div>
      <!-- <div class="more">
        <button class="modal-open" data-modal="modal1">
          more<ion-icon class="open-icon" name="open-outline" aria-hidden="true"></ion-icon>
        </button>
      </div> -->
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6337.jpg" />
      <div class="title">
        <h2>Opções variadas</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6343.jpg" />
      <div class="title">
        <h2>Qualidade</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6356.jpg" />
      <div class="title">
        <h2>Escolha o horário</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6366.jpg" />
      <div class="title">
        <h2>Sucos Naturais</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6442.jpg" />
      <div class="title">
        <h2>Opções variadas</h2>
      </div>
    </div>

  </section>

  <section id="intro">
    <div class="info">
      <h1>Sobre nós</h1>
      <p>
        Além dos dois chalés temáticos, também oferecemos duas encantadoras casas de férias ideais para famílias que
        buscam uma estadia confortável e acolhedora. Localizadas em um ambiente tranquilo e cercado pela natureza,
        nossas casas de férias proporcionam uma experiência relaxante e memorável para você e sua família. Com espaçosos
        quartos, áreas comuns aconchegantes e comodidades modernas, nossas casas são perfeitas para quem deseja
        desfrutar de momentos especiais juntos. Explore as opções de acomodação e descubra o refúgio perfeito para suas
        próximas férias em família!
      </p>
      <button class="btn-filled-dark" style="border-radius: 16px; width: 240px; height: 50px;"><span
          class="material-symbols-outlined">
        </span>Saiba mais sobre nós</button>
    </div>
    <div class="split-beer">
      <img class="beer" src="../../../assets/about_us/FullSizeRender_jpg (0_0).jpg" />
      <img class="beer" src="../../../assets/about_us/FullSizeRender_jpg (0_1).jpg" />
      <img class="beer" src="../../../assets/about_us/FullSizeRender_jpg (0_2).jpg" />
    </div>
  </section>


</body>
