<body>
  <h2>Nosso café</h2>
  <P>Oooo</P>
  <section id="content">
    <!-- Cards -->
    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6323.jpg" />
      <div class="title">
        <h2>Café</h2>
      </div>
      <!-- <div class="more">
        <button class="modal-open" data-modal="modal1">
          more<ion-icon class="open-icon" name="open-outline" aria-hidden="true"></ion-icon>
        </button>
      </div> -->
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6337.jpg" />
      <div class="title">
        <h2>Opções variadas</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6343.jpg" />
      <div class="title">
        <h2>Items Personalizados</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6356.jpg" />
      <div class="title">
        <h2>Escolha o horário</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6366.jpg" />
      <div class="title">
        <h2>Opções vegana</h2>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="../../../assets/coffee/_MG_6442.jpg" />
      <div class="title">
        <h2>Pães sem glutem</h2>
      </div>
    </div>

  </section>

  <section id="intro">
    <div class="info">
      <h1>Sobre nós</h1>
      <p>
        Além dos dois chalés temáticos, também oferecemos duas encantadoras casas de férias ideais para famílias que
        buscam uma estadia confortável e acolhedora. Localizadas em um ambiente tranquilo e cercado pela natureza,
        nossas casas de férias proporcionam uma experiência relaxante e memorável para você e sua família. Com espaçosos
        quartos, áreas comuns aconchegantes e comodidades modernas, nossas casas são perfeitas para quem deseja
        desfrutar de momentos especiais juntos. Explore as opções de acomodação e descubra o refúgio perfeito para suas
        próximas férias em família!
      </p>
      <button><a
          href="https://www.instagram.com/_cantinho_na_roca?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          class="button explore">Clique aqui para saber mais</a></button>
    </div>
    <div class="split-beer">
      <img class="beer" src="../../../assets/about_us/0.jpg" />
      <img class="beer" src="../../../assets/about_us/1.jpg" />
      <img class="beer" src="../../../assets/about_us/2.jpg" />
    </div>
  </section>


</body>
