<div class="wrapper">
  <h1>Desfrute da natureza e conheça</h1>
  <p class="opcoes-p">Veja opções de passeios para você curtir ainda mais suas estadia</p>
  <div class="cols">

    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/amantikir.jpg)">
          <div class="inner">
            <p>Parque Amantikir</p>
            <span>Campos de Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parqueamantikir.com.br/ingresso/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cachoeira-ducha-de-prata.jpg)">
          <div class="inner">
            <p>Ducha de Prata</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g303607-d4022898-Reviews-Ducha_de_Prata-Campos_Do_Jordao_State_of_Sao_Paulo.html"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/morrodoelefante.jpeg)">
          <div class="inner">
            <p>Morro do Elefante</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parquecapivari.com.br/atracoes/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/parqueCapivari.jpg)">
          <div class="inner">
            <p>Parque Capivari</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parquecapivari.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/vinicola.png)">
          <div class="inner">
            <p>Espaço Essenza</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://espacoessenza.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/picodoagudo.jpg)">
          <div class="inner">
            <p>Pico Agudo</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g2205129-d3952897-Reviews-Pico_Agudo-Santo_Antonio_do_Pinhal_State_of_Sao_Paulo.html"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cachoeira-ducha-de-prata.jpg)">
          <div class="inner">
            <p>Rest. Donna Pinha</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://donnapinha.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/jardimdospinhas.jfif)">
          <div class="inner">
            <p> Jardim dos Pinhais</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.jardimdospinhais.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cachoeiradaamizade.jpg)">
          <div class="inner">
            <p> Cachoeira da Amizade</p>
            <span>Sapucaí Mirim</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.minasgerais.com.br/pt/atracoes/sapucai-mirim/cachoeira-da-amizade"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/sapukatur.jpg)">
          <div class="inner">
            <p>Sapuka Tur</p>
            <span>Sapucaí Mirim</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g1833241-d25349490-Reviews-SAPUKA_TUR-Sapucai_Mirim_State_of_Minas_Gerais.html"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/pedradobau.jpg)">
          <div class="inner">
            <p>Pedra do baú</p>
            <span>São Bento do Sapucaí</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://bauecoturismo.com.br/?gad_source=1&gclid=CjwKCAjwwr6wBhBcEiwAfMEQs5t9IQh-depCbxraCjJ9pzKdc2icdy4JkkO_63ej9WGvqwK36LAyWxoCw9EQAvD_BwE"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cachoeiradosamores.jpeg)">
          <div class="inner">
            <p>Cachoeira dos Amores</p>
            <span>São Bento do Sapucaí</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://saobentotur.com.br/_experiencias/cachoeira-dos-amores/"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/oliq.png)">
          <div class="inner">
            <p>OLIQ</p>
            <span>São Bento do Sapucaí</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://oliq.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/villasantamaria.jpeg)">
          <div class="inner">
            <p>Vinícola Santa Maria</p>
            <span>São Bento do Sapucaí </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://villasantamaria.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cachoeirasetequedas.jpg)">
          <div class="inner">
            <p> Cachoeira Sete Quedas</p>
            <span>Gonçalves</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g1991691-d4018087-Reviews-Cachoeira_das_Sete_Quedas-Goncalves_State_of_Minas_Gerais.html"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cervejaria3orelhas.png)">
          <div class="inner">
            <p>Cervejaria 3 Orelhas</p>
            <span>Gonçalves </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.cervejaria3orelhas.com/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/pedrachanfrada.jpg)">
          <div class="inner">
            <p>Pedra Chanfrada</p>
            <span>São Bento do Sapucaí</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g1991691-d10686220-Reviews-Pedra_Chanfrada-Goncalves_State_of_Minas_Gerais.html"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/jardimdospinhas.jfif)">
          <div class="inner">
            <p>Cachoeira Simão</p>
            <span>São Bento do Sapucaí</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://turismoemgoncalves.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/parqueCerejeira.jpg)">
          <div class="inner">
            <p>Parque da Cerejeiras</p>
            <span>Campos de Jordão </span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parquedacerejeira.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/parque_cerveja.png)">
          <div class="inner">
            <p>Parque da Cerveja</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://cervejacamposdojordao.com.br/parque/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>