<div class="wrapper">
  <h1>Desfrute da natureza e conheça</h1>
  <p class="opcoes-p">Veja opções de passeios para você curtir ainda mais suas estadia</p>
  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/amantikir.jpg)">
          <div class="inner">
            <p>Parque Amantikir</p>
            <span>Campos de Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parqueamantikir.com.br/ingresso/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cachoeira-ducha-de-prata.jpg)">
          <div class="inner">
            <p>Ducha de prata</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g303607-d4022898-Reviews-Ducha_de_Prata-Campos_Do_Jordao_State_of_Sao_Paulo.html"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/morrodoelefante.jpeg)">
          <div class="inner">
            <p>Morro do Elefante</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parquecapivari.com.br/atracoes/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/parque-capivari.webp)">
          <div class="inner">
            <p>Parque Capivari</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parquecapivari.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/vinicola.png)">
          <div class="inner">
            <p>Espaço essenza</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://espacoessenza.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/picodoagudo.jpg)">
          <div class="inner">
            <p>Pico agudo</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g2205129-d3952897-Reviews-Pico_Agudo-Santo_Antonio_do_Pinhal_State_of_Sao_Paulo.html"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/cachoeira-ducha-de-prata.jpg)">
          <div class="inner">
            <p>Restaurante Donna Pinha</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://donnapinha.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/card-passeio/jardimdospinhas.jfif)">
          <div class="inner">
            <p> Jardim dos pinhais</p>
            <span>Santo Antônio do pinhal</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.jardimdospinhais.com.br/" style="text-decoration: none; color: #fff;">
              <p>Passeio Pago</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/parque-capivari.webp)">
          <div class="inner">
            <p> Cachoeira da amizade</p>
            <span>Sapucaí Mirim</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.minasgerais.com.br/pt/atracoes/sapucai-mirim/cachoeira-da-amizade"
              style="text-decoration: none; color: #fff;">
              <p>Passeio Grátis</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>