<main>

  <div style="margin-bottom: 30px;">
    <h2>Chalé Fuji</h2>
    <h3>Passar uma noite no Chalé Fuji é mergulhar em uma experiência única</h3>
    <p> Nossa arquitetura temática oriental proporciona uma estadia com um toque especial inspirado na cultura
      japonesa.
      O Chalé Fuji oferece um ambiente acolhedor e confortável, ideal para relaxar e se reconectar com a natureza..
    </p>
    <ul class="counter">
      <li>
        <h3><i class="fa-solid fa-book"></i>68+k</h3>
        <span>book collections</span>
      </li>
      <li>
        <h3><i class="fa-solid fa-user"></i>25,634</h3>
        <span>customers</span>
      </li>
    </ul>
    <button class="btn">Reserva pelo Whatsapp <i class="fa-solid fa-arrow-right"></i></button>
    <button class="btn">Booking<i class="fa-solid fa-arrow-right"></i></button>
  </div>

  <div style="height: 500px; width: 600px;">
    <swiper-container navigation="true" pagination="true" pagination-cliclable="true"
      style="height: 500px; width: 600px; border-radius: 12px;">
      <swiper-slide>
        <img src="../../../assets/details/FullSizeRender.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="../../../assets/details/IMG_2731.jpg" alt="">
      </swiper-slide>
      <swiper-slide> <img src="../../../assets/details/IMG_2733.jpg" alt="">
      </swiper-slide>
      <swiper-slide> <img src="../../../assets/details/IMG_2817.jpg" alt="">
      </swiper-slide>
    </swiper-container>
  </div>
</main>
