<app-navbar></app-navbar>
<app-card></app-card>
<section class="hero">
  <h1>Aqui a sua experiência vai ser
    ainda mais inesquecível!</h1>
  <div class="btn-group">
    <button class="btn-filled-dark" style="border-radius: 16px;"><span class="material-symbols-outlined">
        <img src="../../../assets/whatsApp-branco.svg" alt="">
      </span>Reserve pelo WhatsApp</button>
    <button style="border-radius: 16px;" class="btn-outline-dark btn-hover-color"><span
        class="material-symbols-outlined">
      </span>Reserve pelo Booking</button>
  </div>
  <div class="btn-group" style="gap: 60px;">
    <div class="list-check">
      <ul>
        <li><i class='bx bxs-car'></i>12km do centro</li>
        <li><i class='bx bxs-car'></i>Todo o caminho é pavimentado</li>
        <li><i class='bx bx-wind'></i>Redes ao ar livre</li>
        <li><i class='bx bxs-florist'></i>Jardim</li>
        <li><i class='bx bxs-bath'></i>Cromoterapia e hidromassagem</li>
        <li><i class='bx bxs-coffee-alt'></i>Café da manhã no chalé</li>
        <li><i class='bx bxs-universal-access'></i>Comodidade</li>
        <li><i class='bx bxs-home-alt-2'></i>Decoração temática</li>
        <li><i class='bx bxs-car-garage'></i>Estacionamento</li>
        <li><i class='bx bx-award'></i>Roupa de cama e banho</li>
        <li><i class='bx bx-radio-circle-marked'></i>Vários atrativos turísticos na região</li>
        <li><i class='bx bxs-leaf'></i>Lugar tranquilo</li>
      </ul>
    </div>

    <ul class="slides">
      <!-- Slide 1 -->
      <input type="radio" name="radio-btn" id="img-1" checked />
      <li class="slide-container">
        <div class="slide">
          <img src="../../../assets/carousel_exp/_MG_6278.jpg" />
        </div>
        <div class="nav">
          <label for="img-7" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
      </li>

      <!-- Slide 2 -->
      <input type="radio" name="radio-btn" id="img-2" />
      <li class="slide-container">
        <div class="slide">
          <img src="../../../assets/carousel_exp/IMG_1523.JPEG" />
        </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
      </li>

      <!-- Slide 3 -->
      <input type="radio" name="radio-btn" id="img-3" />
      <li class="slide-container">
        <div class="slide">
          <img src="../../../assets/chale-canadense/details04.jfif" />
        </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-4" class="next">&#x203a;</label>
        </div>
      </li>

      <!-- Slide 4 -->
      <input type="radio" name="radio-btn" id="img-4" />
      <li class="slide-container">
        <div class="slide">
          <img src="../../../assets/carousel_exp/IMG_2822.JPEG" />
        </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-5" class="next">&#x203a;</label>
        </div>
      </li>

      <!-- Slide 5 -->
      <input type="radio" name="radio-btn" id="img-5" />
      <li class="slide-container">
        <div class="slide">
          <img src="../../../assets/chale-canadense/details07.jfif" />
        </div>
        <div class="nav">
          <label for="img-4" class="prev">&#x2039;</label>
          <label for="img-6" class="next">&#x203a;</label>
        </div>
      </li>

      <!-- Slide 6 -->
      <input type="radio" name="radio-btn" id="img-6" />
      <li class="slide-container">
        <div class="slide">
          <img src="../../../assets/carousel_exp/04EFF359-A473-4C5E-B96E-91CF3FF078BA.JPEG" />
        </div>
        <div class="nav">
          <label for="img-5" class="prev">&#x2039;</label>
          <label for="img-7" class="next">&#x203a;</label>
        </div>
      </li>

      <!-- Slide 7 -->
      <input type="radio" name="radio-btn" id="img-7" />
      <li class="slide-container">
        <div class="slide">
          <img src="../../../assets/chale-canadense/details02.jfif" />
        </div>
        <div class="nav">
          <label for="img-6" class="prev">&#x2039;</label>
          <label for="img-1" class="next">&#x203a;</label>
        </div>
      </li>

      <!-- Navegação pelos pontos -->
      <li class="nav-dots">
        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
        <label for="img-4" class="nav-dot" id="img-dot-4"></label>
        <label for="img-5" class="nav-dot" id="img-dot-5"></label>
        <label for="img-6" class="nav-dot" id="img-dot-6"></label>
        <label for="img-7" class="nav-dot" id="img-dot-7"></label>
      </li>
    </ul>
  </div>


</section>

<app-feedback></app-feedback>

<app-coffee></app-coffee>

<section id="locate">

  <div style="height: 100px;">
    <h2>Nossa Localização</h2>
    <div class="btn-group">
      <a href="https://wa.me/5511963897345?text=Olá,%20Eu%20gostaria%20de%20saber%20mais%20sobre%20a%20localização!"
        style="text-decoration: none;"> <button class="btn-filled-dark"><span class="material-symbols-outlined">
            <img src="../../../assets/whatsApp-branco.svg" alt="">
          </span>Entre em contato</button></a>

    </div>
  </div>
  <div id="map" style="height: 600px; width: 100%; border-radius: 16px;"></div>
</section>

<section>
  <h2>Feedback dos nossos hóspedes</h2>
  <div class="page-wrapper">
    <div class="card-group">
      <div class="card-column">
        <div id="profile-1" class="expandable-card">
          <div cardContent>
            <div collapsedContent>
              <div class="expandable-card--left-col col">
                <div class="expandable-card--profile-image">
                  M
                </div>
              </div>
              <div class="expandable-card--right-col col">
                <div class="expandable-card--title">
                  Márcia
                </div>
                <div class="expandable-card--sub-title">
                  <p>Brasil</p>
                  <p>"A chalé é localizada em meio a natureza. O ambiente aconchegante. Um cantinho todo especial para
                    descansar. Fomos bem acolhidos. O café muito bem servido. Amei o experiência."</p>
                </div>
              </div>
            </div>
            <div expandedContent>
              <div class="mock-content"></div>
            </div>
          </div>
        </div>

        <div id="profile-2" class="expandable-card">
          <div cardContent>
            <div collapsedContent>
              <div class="expandable-card--left-col col">
                <div class="expandable-card--profile-image">
                  V
                </div>
              </div>
              <div class="expandable-card--right-col col">
                <div class="expandable-card--title">
                  Vitor
                </div>
                <div class="expandable-card--sub-title">
                  <p>Brasil</p>
                  <p>"Ótimo atendimento dos anfitriões. Lugar lindo, charmoso e muito aconchegante. Ótimo lugar para
                    descansar e repor as energias"</p>
                </div>
              </div>
            </div>
            <div expandedContent>
              <div class="mock-content"></div>
            </div>
          </div>
        </div>

        <div id="profile-3" class="expandable-card">
          <div cardContent>
            <div collapsedContent>
              <div class="expandable-card--left-col col">
                <div class="expandable-card--profile-image">
                  F
                </div>
              </div>
              <div class="expandable-card--right-col col">
                <div class="expandable-card--title">
                  Felipe
                </div>
                <div class="expandable-card--sub-title">
                  <p>Brasil</p>
                  <p>"O cuidado que os anfitriões tratam os hóspedes e o local é exemplar. Desde o momento da reserva,
                    sempre muito atenciosos e solícitos."</p>
                </div>
              </div>
            </div>
            <div expandedContent>
              <div class="mock-content"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-column">
        <div id="profile-4" class="expandable-card">
          <div cardContent>
            <div collapsedContent>
              <div class="expandable-card--left-col col">
                <div class="expandable-card--profile-image">
                  A
                </div>
              </div>
              <div class="expandable-card--right-col col">
                <div class="expandable-card--title">
                  Alex
                </div>
                <div class="expandable-card--sub-title">
                  <p>Brasil</p>
                  <p>"Da Anfitriã ela é perfeita, se preocupa com cada detalhe, o café da manhã é magnífico, a
                    organização e limpeza é impecável."</p>
                </div>
              </div>
            </div>
            <div expandedContent>
              <div class="mock-content"></div>
            </div>
          </div>
        </div>

        <div id="profile-5" class="expandable-card">
          <div cardContent>
            <div collapsedContent>
              <div class="expandable-card--left-col col">
                <div class="expandable-card--profile-image">
                  A
                </div>
              </div>
              <div class="expandable-card--right-col col">
                <div class="expandable-card--title">
                  Abel
                </div>
                <div class="expandable-card--sub-title">
                  <p>Brasil</p>
                  <p>"Tudo bem feito,pensado nos detalhes.Café da manhã excelente.O
                    atendimento da Célia foi muito bom, é muito gentil.Lugar cercado de natureza
                    e pássaros,bem tranquilo."</p>
                </div>
              </div>
            </div>
            <div expandedContent>
              <div class="mock-content"></div>
            </div>
          </div>
        </div>

        <div id="profile-6" class="expandable-card">
          <div cardContent>
            <div collapsedContent>
              <div class="expandable-card--left-col col">
                <div class="expandable-card--profile-image">
                  F
                </div>
              </div>
              <div class="expandable-card--right-col col">
                <div class="expandable-card--title">
                  Fatima
                </div>
                <div class="expandable-card--sub-title">
                  <p>Japão</p>
                  <p>"Gostamos do atendimento da senhora Célia. A decoração temática oriental é maravilhosa e o café é
                    espetacular e delicioso. Valeu muito a pena. Já quero voltar em..."</p>
                </div>
              </div>
            </div>
            <div expandedContent>
              <div class="mock-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-option-travel></app-option-travel>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5511963897345?text=Olá,%20Eu%20gostaria%20de%20fazer%20uma%20reserva!"
  style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;z-index:1000;"
  target="_blank">
  <i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>

<app-footer></app-footer>