<section>
  <span>Sobre Nós</span>
  <h2>Desde 2010 trabalhamos em </h2>
  <p>
    Além dos dois chalés temáticos, também oferecemos duas encantadoras casas de férias ideais para famílias que buscam
    uma estadia confortável e acolhedora. Localizadas em um ambiente tranquilo e cercado pela natureza, nossas casas de
    férias proporcionam uma experiência relaxante e memorável para você e sua família. Com espaçosos quartos, áreas
    comuns aconchegantes e comodidades modernas, nossas casas são perfeitas para quem deseja desfrutar de momentos
    especiais juntos.

    Seja para um fim de semana prolongado ou para as férias completas, nossas casas de férias oferecem o refúgio
    perfeito para sua família. Com a possibilidade de preparar suas próprias refeições na cozinha totalmente equipada,
    relaxar na sala de estar confortável ou desfrutar do ar fresco e das vistas panorâmicas do ambiente natural ao
    redor, nossas casas de férias são um verdadeiro lar longe de casa.

    Explore as opções de acomodação e descubra o refúgio perfeito para suas próximas férias em família!</p>
  <h2 class="bg-watermark">Faça sua reserva</h2>
  <div class="btn-group">
    <section class="hero">
      <button class="btn-filled-dark" style="color: white;"
        href="https://wa.me/35999283730?text=Olá,%20Eu%20gostaria%20de%20fazer%20uma%20reserva!">Reserva pelo Whatsapp
      </button>
      <button class="btn-outline-dark btn-hover-color"
        href="https://www.booking.com/hotel/br/cantinho-na-roca.pt-br.html">Booking 1</button>
      <button class="btn-outline-dark btn-hover-color"
        href="https://www.booking.com/hotel/br/cantinho-na-roca.pt-br.html">Booking 2</button>
    </section>
  </div>
  <div class="cards">
    <div class="card">
      <h2>Cantinho da Roça 1</h2>
      <img src="../../../assets/about_us/casa_laranja.jpg" alt="Franklin Carlson">
      <div class="card-content">
        <ul>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="card">
      <h2>Cantinho da Roça 2</h2>
      <img src="../../../assets/about_us/casa_verde.jpg" alt="Travis Lynch">
      <div class="card-content">
        <ul>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>