<body>
  <video autoplay loop muted plays-inline class="background-video">
    <source src="../../../assets/dji-0218-1_be5wgC4l.mp4" type="video/mp4" />
  </video>

  <header>
    <a href="#"><img src="../../../assets/52469d0d-94ef-456a-a85c-d5ca55e78f3e.webp" alt="logo" class="logo" /></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a href="#" class="nav-item" style="--i: 0">Home</a>
      <a href="#" class="nav-item" style="--i: 1">Plan Your Visit</a>
      <a href="#" class="nav-item" style="--i: 2">Magical Places</a>
      <a href="#" class="nav-item" style="--i: 3">Contact</a>
    </nav>
  </header>

  <section class="content">
    <h1>Chalés Mundarium</h1>
    <a href="#" class="btn light"></a>
  </section>
</body>
