<section>
  <!-- Card do Chalé Fuji -->
  <div routerLink="/details-chale">
    <div class="card">
      <img src="../../../assets/chale_fuji.png" alt="image" />
      <div class="card-content">
        <p class="highlight">Chalé Fuji</p>
      </div>
    </div>
  </div>

  <!-- Card do Chalé Canadense - Agora Inaugurado -->
  <div routerLink="/details-chale-canadense">
    <div class="card new-card">
      <img src="../../../assets/chale-canadense.jfif" alt="image" />
      <div class="ribbon">Inaugurado!</div>
      <div class="badge-new">Novo!</div>
      <div class="card-content">
        <p class="highlight">Chalé Canadense</p>
      </div>
    </div>
  </div>
</section>